@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
   box-sizing: border-box;
}

html {
   font-family: "Noto Sans JP", sans-serif;
}

body {
   margin: 0;
   background: hsl(0, 0%, 25%);
}

@import "Header";
@import "HeaderCartButton";
@import "MealsSummary";
@import "AvailableMeals";
@import "Card";
@import "MealItem";
@import "MealItemForm";
@import "Input";
@import "Cart";
@import "Modal";
